/* =====================================
   Public API Request
======================================== */

@import url('https://fonts.googleapis.com/css?family=Nunito');


/*===========================================
   Keyframes
===========================================*/
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(1) scaleX(1); } }

/*===========================================
  Grid Styles
===========================================*/
@media (min-width: 769px) {
  body {
    margin: 20px auto 0; } }
@media (min-width: 1400px) {
  body {
    width: 1440px;
    margin: 60px auto 0; } }

#employeeGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

#employeeGrid ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto; }

.employee {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px #bfbfbf;
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
  width: 90%;
  line-height: .7;
  transition: all .2s ease-in-out; }
  @media (min-width: 769px) {
    .employee {
      padding: 20px;
      flex-grow: 1;
      width: 380px; } }

.employee:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.02);
  box-shadow: 3px 3px 10px #797979; }

h3 {
  font-size: 1.05em; }
  @media (min-width: 769px) {
    h3 {
      font-size: 1.17em; } }

.employee p {
  font-weight: 400;
  font-size: .9em;
  color: #797979; }
  @media (min-width: 769px) {
    .employee p {
      font-size: 1em; } }

h3,
.employeeText p:last-child {
  text-transform: capitalize; }

.employeeImage {
  height: 80px;
  width: 80px;
  border-radius: 50%; }
  @media (min-width: 769px) {
    .employeeImage {
      height: 128px;
      width: 128px; } }

.employeeText {
  padding-left: 20px; }

/*===========================================
  Modal Styles
===========================================*/
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2); }

#modalFrame {
  background-color: #fff;
  margin: 200px auto;
  padding: 10px;
  width: 85%;
  box-shadow: 2px 2px 5px #797979;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 5px 17px rbga(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  @media (min-width: 769px) {
    #modalFrame {
      width: 50%; } }
  @media (min-width: 1024px) {
    #modalFrame {
      width: 40%; } }
  @media (min-width: 1400px) {
    #modalFrame {
      width: 30%; } }

#close {
  color: #bfbfbf;
  margin-left: auto;
  font-size: 20px; }

#close:hover,
#close:focus {
  color: #111;
  text-decoration: none;
  cursor: pointer; }

#modalLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

#modalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; }

.modalImage {
  border-radius: 50%;
  width: 80px;
  height: 80px; }
  @media (min-width: 769px) {
    .modalImage {
      width: 160px;
      height: 160px; } }

.lineBreak {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
  margin: 1em 0;
  padding: 0;
  width: 100%; }

.modalText {
  text-align: center;
  width: 100%; }

.modalText p:first-of-type {
  text-transform: lowercase; }

.modalText p {
  text-transform: capitalize; }

.scroll-left,
.scroll-right {
  width: 10%; }

#scrollLeft,
#scrollRight {
  font-size: 15px;
  color: #bfbfbf; }
  @media (min-width: 769px) {
    #scrollLeft,
    #scrollRight {
      font-size: 30px; } }

#scrollLeft:hover,
#scrollLeft:focus,
#scrollRight:hover,
#scrollRight:focus {
  color: #111;
  text-decoration: none;
  cursor: pointer; }

/*===========================================
  Header Styles
===========================================*/
.header-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 769px) {
    .header-inner-container {
      flex-direction: row;
      margin: 0 15px; } }

h1 {
  font-size: 1.1em;
  padding: 10px 0;
  text-align: center;
  flex-wrap: wrap; }
  @media (min-width: 769px) {
    h1 {
      font-size: 1.3em;
      padding: 0; } }

/*===========================================
  Search Bar Styles
===========================================*/
#search {
  width: 80%; }
  @media (min-width: 769px) {
    #search {
      width: 25%; } }

#search input {
  width: 100%;
  padding: 15px 10px;
  font-size: 18px;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: none;
  transition: all .2s ease-in-out; }

#search input:focus,
#search input:active,
#search input:hover {
  outline: none;
  box-shadow: 2px 2px 10px #797979;
  transition: all .2s ease-in-out; }

/*===========================================
  Typography Styles
===========================================*/
body {
  font-family: "Open Sans", serif; }

/*# sourceMappingURL=styles.css.map */
